In [1]:
import pandas as pd
import numpy as np

In [1]:
print("hello git")

hello git

In [2]:
df=pd.read_csv('data/GRAPH_RESTI_202105042000.csv', sep='|')
df1=pd.read_csv('data/GRAPH_RESTI_202105042000.csv', sep='|')

In [3]:
df['key'] = 1
df1['key'] = 1

In [4]:
def f_datum(y,x):
    d=str(y)+'-'+str(x)
    return d

In [5]:
df['DATUM_JMT_ZEIT'] = df.apply(lambda x: f_datum(x['DATUM_JMT'], x['ZEIT']),axis=1)

In [6]:
df.head()

,DATUM_JMT,DATUM_SAS,JAHR_WOCHE,JAHR_MONAT,VST_ID,KASSABON_ID,ZEIT,PROGRAMMTEILNAHME_ID,N_ART,key,DATUM_JMT_ZEIT
0,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000096,113336,2132240,2,1,20190102-113336
1,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000097,113352,1302295,3,1,20190102-113352
2,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000119,113953,5279153,2,1,20190102-113953
3,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000121,114057,4933906,1,1,20190102-114057
4,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000124,114125,4736730,1,1,20190102-114125

In [7]:
df['timestamp'] = pd.to_datetime(df['DATUM_JMT_ZEIT'],format='%Y%m%d-%H%M%S')

In [34]:
df.head()

,DATUM_JMT,DATUM_SAS,JAHR_WOCHE,JAHR_MONAT,VST_ID,KASSABON_ID,ZEIT,PROGRAMMTEILNAHME_ID,N_ART,timestamp,DATUM_JMT_ZEIT
0,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000096,113336,2132240,2,2019-01-02 11:33:36,20190102-113336
1,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000097,113352,1302295,3,2019-01-02 11:33:52,20190102-113352
2,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000119,113953,5279153,2,2019-01-02 11:39:53,20190102-113953
3,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000121,114057,4933906,1,2019-01-02 11:40:57,20190102-114057
4,20190102,2019-01-02 00:00:00,201901,201901,2410,201901020000002410000000000100000124,114125,4736730,1,2019-01-02 11:41:25,20190102-114125

In [4]:
len(df.KASSABON_ID.unique())

107637

In [8]:
result = pd.merge(df, df1, on ='key').drop("key", 1)

In [59]:
result

,DATUM_JMT_x,DATUM_SAS_x,JAHR_WOCHE_x,JAHR_MONAT_x,VST_ID_x,ZEIT_x,PROGRAMMTEILNAHME_ID_x,N_ART_x,DATUM_JMT_ZEIT,DATUM_JMT_y,DATUM_SAS_y,JAHR_WOCHE_y,JAHR_MONAT_y,VST_ID_y,ZEIT_y,PROGRAMMTEILNAHME_ID_y,N_ART_y
0,20190102,2019-01-02 00:00:00,201901,201901,2410,113336,2132240,2,20190102-113336,20190102,2019-01-02 00:00:00,201901,201901,2410,113336,2132240,2
1,20190102,2019-01-02 00:00:00,201901,201901,2410,113352,1302295,3,20190102-113352,20190102,2019-01-02 00:00:00,201901,201901,2410,113352,1302295,3
2,20190102,2019-01-02 00:00:00,201901,201901,2410,113953,5279153,2,20190102-113953,20190102,2019-01-02 00:00:00,201901,201901,2410,113953,5279153,2
3,20190102,2019-01-02 00:00:00,201901,201901,2410,114057,4933906,1,20190102-114057,20190102,2019-01-02 00:00:00,201901,201901,2410,114057,4933906,1
4,20190102,2019-01-02 00:00:00,201901,201901,2410,114125,4736730,1,20190102-114125,20190102,2019-01-02 00:00:00,201901,201901,2410,114125,4736730,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107632,20191231,2019-12-31 00:00:00,202001,201912,2410,94141,5241068,2,20191231-94141,20191231,2019-12-31 00:00:00,202001,201912,2410,94141,5241068,2
107633,20191231,2019-12-31 00:00:00,202001,201912,2410,110722,3577253,5,20191231-110722,20191231,2019-12-31 00:00:00,202001,201912,2410,110722,3577253,5
107634,20191231,2019-12-31 00:00:00,202001,201912,2410,114641,4742572,1,20191231-114641,20191231,2019-12-31 00:00:00,202001,201912,2410,114641,4742572,1
107635,20191231,2019-12-31 00:00:00,202001,201912,2410,120322,4205175,3,20191231-120322,20191231,2019-12-31 00:00:00,202001,201912,2410,120322,4205175,3
107636,20191231,2019-12-31 00:00:00,202001,201912,2410,120755,472646,3,20191231-120755,20191231,2019-12-31 00:00:00,202001,201912,2410,120755,472646,3